version: '2'

services:
  nginx:
    image: nginx:alpine
    ports:
      - 8080:80
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf
      - ./:/var/www/html

  php:
    image: php:7-fpm-alpine
    volumes:
      - ./docker/php.ini:/etc/php7/php.ini
      - ./docker/php-fpm.conf:/etc/php7/php-fpm.conf
      - ./docker/php-entrypoint.sh:/entrypoint.sh
      - ./:/var/www/html
    entrypoint: /entrypoint.sh

  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes

#  lucida:
#    image: claritylab/lucida